<title>Activity</title><br>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
  <div class="container"> 
  
  <h1><center>CURRICULUM VITAE</center></h1>
<br>
  <h2>Personal Profile</h2>
  <p> A student who is currently taking Bachelor of Science in Information Technology major in Web Development at Holy Angel University. Pursuing to graduate and to learn a lot when it comes in constructing a website. Possessing a good team spirit, deadline orientated and having the ability to organize and present complex solutions clearly. I have an excellent ability to remain good-humoured and unflappable under pressure.</p>
  
<h2>Personal Skills</h2>
<div id="div">
<ul>
          <li>Initiative</li>
					<li>Self motivated</li>
					<li>Open minded</li>
					<li>Communication</li>
					<li>Computer skills</li>
					<li>Creativity</li>
					<li>Problem solving</li>
					<li>Teamwork</li>

</ul>
</div>

 <h2>Educational Background</h2>
 <div class="div">
				<aside>
					<h3>Elementary</h3>
					<p >Qualification:</p>
					<p>Graduate of Pulung Cacutud Elementary School </p>
				</aside>
				
				<aside>
					<h3>Secondary</h3>
					<p >Qualification:</p>
					<p>Graduate of Dee Hwa Liong College Foundation</p>
				</aside>

				<aside>
					<h3>Tertiary</h3>
					<p>Qualification:</p>
					<p>Currently Studying at Holy Angel University under College of Information and Technology major in Web Development</p>
				</aside>
			</div>
</body>
	<div id="footer">
	  
			<p>© Rommel Paras</p>
		</div> 
		<br>