body {
  font-family: Century Gothic;
}

h2 {
  border-bottom: 2px solid black;
}

.container {
  width: 600px;
  margin: 10px auto;
  padding: 10px 10px;
  border: 3px solid;
}

#footer {
  position: relative;
  height: 30px;
  background-color: black;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

#div {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
